<!DOCTYPE html>
<html lang="de" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adressbuch</title>

    <!--/* <div th:include="fragments/head :: globalscripts"></div> */-->



    <div class="test">
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>

    <!-- <script  type="text/javascript" th:src="@{js/main.js}"></script> -->
    <script type="text/javascript" th:src="@{js/test.js}"></script>


</head>
<body>
<div th:insert="fragments/navbar :: menubar"></div>
<div class="row">
    <div class="col-4">

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0" id="clickable">
                    <thead>
                        <tr>
                            <th th:onclick="f()">Firstname</th>
                            <th>Lastname</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each ="person: ${listePersonen}"
                                th:data-firstname="${person.firstname}"
                                th:data-lastname="${person.lastname}"
                                th:data-city="${person.city}"
                                th:data-postalCode="${person.postalCode}"
                                th:data-birthday="${person.birthday}"



                                th:onclick="f(
                                    this.getAttribute('data-firstname'),
                                    this.getAttribute('data-lastname'),
                                    this.getAttribute('data-city'),
                                    this.getAttribute('data-data-city'),
                                    this.getAttribute('data-postalCode'),
                                    this.getAttribute('data-birthday'),
                                )" >
                            <td th:text="${person.firstname}" id = "firstname1"></td>
                            <td th:text="${person.lastname}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

    </div>

    <div class="col-8">
        <h1>Personen Details</h1>
        <table>
            <tr>
                <td>First Name</td>
                <td id = "firstname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td id = "lastname"></td>
            </tr>
            <tr>
                <td>Street</td>
                <td id = "street"></td>
            </tr>
            <tr>
                <td>City</td>
                <td id = "city"></td>
            </tr>
            <tr>
                <td>Postal Code</td>
                <td id = "postalCode"></td>
            </tr>
            <tr>
                <td>Birthday</td>
                <td id = "birthday"></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>
